* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

#time {
  font-size: 5rem;
}

h1 {
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 15px;
  opacity: .6;
}